/cmd/test-controller/test-controller
/cmd/test-webhook/test-webhook
/cmd/example/example
/test-controller
/test-webhook
/example

/args
/bin
/.kube-secrets
/tmp/*
/local/
/dev
/.godev

*.coverprofile
*.html
.vscode
.idea
.DS_Store

# Virtual go & fuse
.virtualgo
.fuse_hidden*
